alias ll='ls -la'
alias l='ls -l'
alias la='ls -a'

alias grep='grep --color=auto'

# Git
alias ga='git add --all'
gc() {
    staged=$(git diff --staged --name-only);
    if [[ -z $staged ]]; then
        git add --all . && git commit -m "$@"
    else
        git commit -m "$@"
    fi
}
alias gd='git di'
alias gdc='git di --cached'
alias gds='git di --staged'
alias gdpr='gd `git merge-base ${1:-origin/develop} HEAD`..HEAD'
alias gf='git fetch --prune'
alias gh='git hist'
alias gl='git lol'
alias g9='git lol -9'
alias gp='git pull --rebase'
alias gs='git st'
alias gst='git stash'
alias gsts='git stash save'
gsta() {
    git stash apply stash@{$1}
}
gstp() {
    git stash pop stash@{$1}
}
alias gstl='git stash list'

# ctags
alias ct='ctags -R --totals --exclude=node_modules --exclude=mocks'

# create pf session
tmuxpf() {
    if tmux has-session -t pf; then
        tmux a -t pf
    else
        cd ~/work/tinkoff-portal-web
        tmux new-session -s 'pf' -n 'build' -d
        tmux send-keys 'npm install;buildpf' Enter
        tmux splitw -v
        tmux new-window -n edit
        tmux split-window -v -p 2
        tmux send-keys 'npm run watch' Enter
        tmux new-window -n commands
        tmux select-window -t 2
        tmux select-pane -t 1
        tmux attach-session -d
    fi
}
buildpf() {
    tmux send-keys -t 1.1 'npm run static' Enter
    tmux send-keys -t 1.2 'npm run server' Enter
}

vimd() {
    if [[ -z $1 ]]; then
        vim -p `gd --name-status | grep -E '^[AM]' | awk ' {print $2} ' | xargs ls 2>/dev/null`
    else
        vim -p `gd "$1" --name-status | grep -E '^[AM]' | awk ' {print $2} ' | xargs ls 2>/dev/null`
    fi
}
vims() {
    vim -p `gds --name-status | grep -E '^[AM]' | awk ' {print $2} ' | xargs ls 2>/dev/null`
}
vimpr() {
    vim -p `gdpr --name-status | grep -E '^[AM]' | awk ' {print $2} ' | xargs ls 2>/dev/null`
}
