export PATH=./node_modules/.bin:$PATH
export PATH=~/node_modules/.bin:$PATH
export PATH=/usr/local/share/npm/bin:$PATH
export PATH=~/bin:$PATH
export PATH=~/dotfiles/bin:$PATH
export PATH=/usr/local/php5/bin:$PATH
export PATH=~/.rvm/bin:$PATH
export PATH=/Berkanavt/bin:$PATH
export PATH=/Berkanavt/bin/scripts:$PATH
export PATH=~/android-sdk-macosx/platform-tools:$PATH

export NODE_PATH=./node_modules:$NODE_PATH

export LANG=ru_RU.UTF-8
export PS1="\[\033[1;35m\]`hostname | sed 's/\([a-z0-9]*\).*/\1/'`:\w $ \[\033[0m\]\[\033[0m\]"
export LC_ALL=ru_RU.UTF-8
export BLOCKSIZE=K      # FreeBSD only
export EDITOR=vim
export PAGER=less
export CLICOLOR=yes; # git colors
export TERM=screen-256color

# http://habrahabr.ru/post/153871/
export LESS_TERMCAP_mb=$MAGENTA
# export LESS_TERMCAP_md=$ORANGE
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_so=$'\E[42;30m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_us=$'\E[32m'
export LESS_TERMCAP_ue=$'\E[0m'

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help:st:sup:gs"

# fix sorting against underscores
export LC_COLLATE=C
